.buttonone{
	padding-right: 192px;
	float: right;
	height: 57px;
	width: 159px;
	background-color: #fff;
	border-radius: 29px;
	border: none;
	position: absolute;
		left: 1199px;
		top: 20px;
		font-size: 24px;
		font-weight: bold;
		padding: 0;
        background-color: black;
        color: #fff;
		cursor: pointer;
}

.buttontwo {
	padding-right: 192px;
	float: right;
	height: 57px;
	width: 159px;
	background-color: #fff;
	border-radius: 29px;
	border: none;
	position: absolute;
	left: 1469px;
	top: 20px;
	font-size: 24px;
	font-weight: bold;
	padding: 0;
    background-color: black;
    color: #fff;
	cursor: pointer;
}

.buttonthree {
	padding-right: 192px;
	float: right;
	height: 57px;
	width: 159px;
	background-color: #fff;
	border-radius: 29px;
	border: none;
	position: absolute;
	left: 1728px;
	top: 20px;
	font-size: 24px;
	font-weight: bold;
	padding: 0;
    background-color: black;
    color: #fff;
	cursor: pointer;
}