/* CSS Document */
body{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", "Helvetica", "Arial", "sans-serif";
	background-color: #80ADFB;
	font-weight: bold;
}

.title {
position: absolute;
top: -5px;
left: 25px;
font-size: 42px;
color: white;
font-weight: bold;
}

.buttonone{
	cursor: pointer;
	padding-right: 192px;
	float: right;
	height: 57px;
	width: 159px;
	background-color: #fff;
	border-radius: 29px;
	border: none;
	position: absolute;
		left: 1199px;
		top: 46px;
		font-size: 24px;
		font-weight: bold;
		padding: 0;
}


.buttontwo {
	padding-right: 192px;
	float: right;
	height: 57px;
	width: 159px;
	background-color: #fff;
	border-radius: 29px;
	border: none;
	position: absolute;
	left: 1469px;
	top: 46px;
	font-size: 24px;
	font-weight: bold;
	padding: 0;
	cursor: pointer;
}

.buttonthree {
	padding-right: 192px;
	float: right;
	height: 57px;
	width: 159px;
	background-color: #fff;
	border-radius: 29px;
	border: none;
	position: absolute;
	left: 1728px;
	top: 46px;
	font-size: 24px;
	font-weight: bold;
	padding: 0;
	cursor: pointer;
}

.fgpic{
	position: absolute;
	top: 124px;
	left: 25px;
	border-radius: 50%;
	height: 514px;
	width: 514px;
}

.fgpicdiv{
	position: absolute;
	top: 124px;
	left: 25px;
	border: 5px dashed;
	border-radius: 50%;
	height: 504px;
	width: 504px;
	border-color: #F84816;
}

.about-me{
	position: absolute;
	top: 200px;
	left: 593px;
	color: white;
	font-size: 35px;
	font-weight: bold;
}

.about-me-head{
	position: absolute;
	top: 115px;
	left: 593px;
	color: white;
	font-size: 67px;
	font-font-weight: bold;
}

.overview{
position: absolute;
top: 620px;
left: 25px;
color: white;
font-size: 67px;
}

.more-about-me{
position: absolute;
top: 725px;
left: 25px;
color: white;
font-size: 22px;
}

.progress{
position: absolute;
top: 620px;
left: 848px;
color: white;
font-size: 67px;
}

.progress-writing{
	position: absolute;
top: 725px;
left: 848px;
color: white;
font-size: 22px;
}

.under-overview{
	color: #fff;
	position: absolute;
	top: 723px;
	left: 25px;
	height: 1px;
	width: 1440px;
}

.three-langs{
	position: absolute;
	top: 200px;
	left: 1230px;
	height: 425px;
	width: 640px;
	border-radius: 33px;
	border: 5px solid;
}