/* CSS Document */
body{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", "Helvetica", "Arial", "sans-serif";
	background-color: #80ADFB;
	height: 1080px;
	width: 1920px;
}

.title {
position: relative;
top: 0px;
left: 25px;
font-size: 42px
}

.buttonone{
	padding-right: 192px;
	float: right;
	height: 57px;
	width: 159px;
	background-color: #fff;
	border-radius: 29px;
	border: none;
	position: absolute;
		left: 1199px;
		top: 46px;
		font-size: 24px;
		font-weight: bold;
		padding: 0;
}


.buttontwo {
	padding-right: 192px;
	float: right;
	height: 57px;
	width: 159px;
	background-color: #fff;
	border-radius: 29px;
	border: none;
	position: absolute;
	left: 1469px;
	top: 46px;
	font-size: 24px;
	font-weight: bold;
	padding: 0;
}

.buttonthree {
	padding-right: 192px;
	float: right;
	height: 57px;
	width: 159px;
	background-color: #fff;
	border-radius: 29px;
	border: none;
	position: absolute;
	left: 1728px;
	top: 46px;
	font-size: 24px;
	font-weight: bold;
	padding: 0;
}

.fgpic{
	position: absolute;
	border-radius: 50%;
	border-color: #F84816;
	border: 10px solid;
	background-color: #F84816;
}